@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');

#title-div {
    width: 100%;
    height: auto;
}
#title {
    font-family: 'Cairo';
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #0b284a;
}